body {
    background-color: #454545;
    line-height: 1.7em;
}

a {
    text-decoration: none;
    box-sizing: border-box;
}

a,
body {
    color: #eee;
}

.side-bar {
    float: left;
    width: 20%;
    position: fixed;
}

.side-bar>* {
    padding: 10px 15px;
}

.side-bar .nav a,
.side-bar .tag-list a {
    display: block;
    padding: 5px;
    color: #888;
    transition: color 100ms;
}

.side-bar .nav a {
    font-weight: 700;
}

.side-bar .nav a:hover,
.side-bar .tag-list a:hover {
    color: #eee;
}

nav>item {
    margin-left: 50px;
    text-align: center;
}

.main {
    float: right;
    width: 80%;
    background-color: #fff;
    color: #454545
}

.header {
    border-bottom: 10px solid white;
}

.touxiang {
    margin: 5px 45px;
    width: 100px;
    height: 100px;
}

.touxiang>img {
    width: 100%;
    height: 100%;
}

.header .logo {
    display: inline-block;
    line-height: 50px;
    border: 5px solid #eee;
    padding: 10px 20px;
    font-size: 30px;
    margin-bottom: 10px;
}

.side-bar>.nav {
    border-bottom: 10px solid white;
}

.article-list,
.article {
    margin-right: 30%;
    background: #fff;
    padding: 20px 30px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2)
}

.article-list {
    height: 1000px;
}

.article-list .item {
    margin-bottom: 25px;
}

.article-list .item .title,
.article .title {
    color: #454545;
    font-size: 22px;
    font-weight: 700;
}

.article-list .item .status,
.article .status {
    font-size: 13px;
    color: #ccc;
}

.title-wrap,
.status {
    text-align: center;
}

.title {
    font-size: 2.2em !important;
}

.article-list .item>*,
.article>* {
    margin: 50px 0;
}


/* 布局响应式的时候 main.css需作相应的改变 */


/* 把mobile.css的设置在pc端的时候隐藏 */

#menu-checkbox,
#menu-toggle {
    display: none;
}